* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

a img.logovs-head {
    position: absolute;
    left: 0;
    top:0;
    width: 15%;
}

header {
    background-color: #DFFCFE;
    height: 16%;
    border-bottom: solid 2px darkblue;
}

.logout-text {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.logout-text i {
    margin-left: 5px;
}

.username {
    float: left;
    color: darkblue;
}

.titulo{
    color: red;
}